env:
  global:
  - REPO=www
language: node_js
node_js:
- node
before_install:
- npm i -g npm@latest
install:
- npm install
script:
- npm run build --prod
notifications:
  email:
    on_success: never
    on_failure: always
before_deploy:
- tar -zcf ${TRAVIS_BUILD_DIR}${REPO}-${BUILD_ENV}-${TRAVIS_TAG}-${TRAVIS_BUILD_NUMBER}.tar.gz
deploy:
  provider: releases
  api_key:
    secure: S6u3qtIVnysPSZGave5P+xVI6ZMj1NsyF/sK3XGCgs42ifPO3+JkUMN9ffkxc4syslU0YOtNslFy+QeVkkAzf47g8weFy0IadJfumssoYWu5g1o6UlYalIvb8vWRQwpPnzSVrhlB5ndqOqsBPdku8sGEaBYr4WxLHY486XoFLVL1S55TyF2EmdUmqdkk5SZPdLss5rGDXWuphyiHOzuIVmVgznMzeQhMC6JcBAt8gVdrFvpCAayG+E+mADIc785NnCRk+xbo7pfQqsHhFHKqmS/qSKJPE768BMD9I0bNUeCIm7Y4IBeCLmru3CZdEF2P0wSgVZz6i79Ivgq72WSV9J4TOxCBdcNEtK5iOZRmYKE0Mj6vFqST0dO5o2lL1eQk/X+A9Z1cqZUN5/Rg2SmiPGgEi7TV0TcNZRvzOBpiziWIgwYup7LXmbbDK+gfj/WQlGvtW/OQIUHPdeLGNuHudKMI/RCIgY817Hg24FaVgeAageC0ICJpv0o9MfARZqnu8S2F1AvH4Svv5GHXpJV99W/0ikawaZ7GYqUahEHTYXPGVl1ZhBi2u9wzgwbexK7zBVMNm1ZK0Zz7eKV8r3ZMJhOfVy3A+oOht8f8zrs25VBgmSXtrFq0EZFFld9WMJoIG9Pui3LIqe8mNbgGjp9gr9SjvWHynseDuG8Fp2QWWis=
  file: "${TRAVIS_BUILD_DIR}${REPO}-${BUILD_ENV}-${TRAVIS_TAG}-${TRAVIS_BUILD_NUMBER}.tar.gz"
  skip_cleanup: true
  on:
    tags: true